services:
  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN_NAME=aura-crm.duckdns.org
    volumes:
      - ./deployment/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - aura-network
    depends_on:
      - gateway
      - client

  gateway:
    build: { context: ., dockerfile: apps/gateway/Dockerfile }
    ports: [ "5000:5000" ]
    environment:
      - PORT=5000
      - AUTH_SERVICE_URL=http://auth-service:5001
      - CONTACT_SERVICE_URL=http://contact-service:5002
      - OPPORTUNITY_SERVICE_URL=http://opportunity-service:5003
      - TASK_SERVICE_URL=http://task-service:5004
      - NOTIFICATION_SERVICE_URL=http://notification-service:5005
      - ANALYTICS_SERVICE_URL=http://analytics-service:5006
      - DOCUMENT_SERVICE_URL=http://document-service:5007
      - PRODUCT_SERVICE_URL=http://product-service:5008
      - INVOICE_SERVICE_URL=http://invoice-service:5009
      - TICKET_SERVICE_URL=http://ticket-service:5010
      - SEARCH_SERVICE_URL=http://search-service:5011
      - HR_SERVICE_URL=http://hr-service:5012
    networks: [ aura-network ]
    restart: always

  auth-service:
    build: { context: ., dockerfile: apps/auth-service/Dockerfile }
    environment:
      - MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh
      - JWT_SECRET=supersecretkey123
      - BREVO_API_KEY=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
      - SENDER_EMAIL=yukesh785.in@gmail.com
    networks: [ aura-network ]
    restart: always

  contact-service:
    build: { context: ., dockerfile: apps/contact-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  opportunity-service:
    build: { context: ., dockerfile: apps/opportunity-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  task-service:
    build: { context: ., dockerfile: apps/task-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  notification-service:
    build: { context: ., dockerfile: apps/notification-service/Dockerfile }
    environment:
      - MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh
      - BREVO_API_KEY=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
      - SENDER_EMAIL=yukesh785.in@gmail.com
    networks: [ aura-network ]
    restart: always

  analytics-service:
    build: { context: ., dockerfile: apps/analytics-service/Dockerfile }
    environment:
      - MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh
      - CONTACT_SERVICE_URL=http://contact-service:5002
      - OPPORTUNITY_SERVICE_URL=http://opportunity-service:5003
      - TASK_SERVICE_URL=http://task-service:5004
      - INVOICE_SERVICE_URL=http://invoice-service:5009
      - TICKET_SERVICE_URL=http://ticket-service:5010
    networks: [ aura-network ]
    restart: always

  document-service:
    build: { context: ., dockerfile: apps/document-service/Dockerfile }
    environment:
      - MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh
      - STORAGE_TYPE=${STORAGE_TYPE:-local}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION:-ap-south-1}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
    networks: [ aura-network ]
    restart: always

  product-service:
    build: { context: ., dockerfile: apps/product-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  invoice-service:
    build: { context: ., dockerfile: apps/invoice-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  ticket-service:
    build: { context: ., dockerfile: apps/ticket-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  search-service:
    build: { context: ., dockerfile: apps/search-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  hr-service:
    build: { context: ., dockerfile: apps/hr-service/Dockerfile }
    environment: [ "MONGO_URI=mongodb+srv://yukesh:yukesh1234@yukesh.5dylhhw.mongodb.net/companycrm?appName=Yukesh" ]
    networks: [ aura-network ]
    restart: always

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
      args:
        - VITE_API_URL=https://aura-crm.duckdns.org
    ports: [ "3000:80" ]
    depends_on: [ gateway ]
    networks: [ aura-network ]
    restart: always

networks:
  aura-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
